/* All pages common styles */

body {
  background-image: url("/../../../images/body-bg-img-500.jpg");
  background-repeat: repeat;
}

.mainWrapper {
  padding: 1rem;
  margin: 1rem auto;
  box-shadow: 2px 1px 30px black;
  border-radius: 10px;
}

header {
  background-image: url("/../../../images/covid-19-1330px.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 20vh;
  margin: 0;
  padding: 0;
}

header h1 {
  text-transform: uppercase;
  color: #faebfa;
  text-shadow: 4px 2px 4px #271a27;
  margin: 2.5rem 0 0 3rem;
}

header p {
  color: #b0f3cf;
  margin-left: 3.5rem;
  margin-top: -5px;
  text-shadow: 2px 2px 2px #000;
}

.logoutBtn {
  background-color: brown;
  color: #fff!important;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: .3rem 1rem .5rem 1rem;
}

.logoutBtn:hover {
  background-color: rgb(195, 83, 83);
  color: #fff!important;
  border-radius: 10px;
  outline: none;
}

.pageTitle {
  text-align: center;
  color: brown;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
  padding: 1rem;
}

footer {
  background-color: #24071f;
  font-size: .8rem;
  text-align: center;
  color: rgb(165, 162, 162);
  padding: 1rem;
}