@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed&display=swap');
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, d, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

img {
  max-width: 100%;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}